.buttonContainer {
  width: 100%;

  button {
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: #d2197c;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
  }
}
