.layoutAuthContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 500px;
  background-color: #f6caca;
  padding: 24px;
  margin-top: 3rem;
  border-radius: 50px;
}

