@font-face {
  font-family: 'Yekan';
  src: url('../fonts/Yekan/YekanBakh-Regular.woff') format('woff'),
  url('../fonts/Yekan/YekanBakh-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}
 body  {
  background:#f5f5f5 !important;
  margin:0;
  padding:0;
  font-family:'Yekan',  Tahoma, sans-serif;
  direction:rtl;
}

 html , body {
   overflow-x: hidden;
   width: 100%;
 }

#root {
  font-size: 16px;
  --app-height:100vh;
}
@supports (height: 100dvh) {
  #root {
    --app-height: 100vh;
  }
}

h1, h2, h3 {
  font-feature-settings: "ss02";
}
